<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <head>Manú</head>
    <main>
        <h1>Main</h1>

        <h2>Crear Tarea</h2>

        <h3>Listado de tareas</h3>

    </main>
    <footer>
        <small>Copyright 2025</small>
    </footer>
    
</body>
</html>